.QuizForm {
  display: flex;
  flex-direction: column;
}

.QuizForm label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuizForm h2 {
  margin-bottom: 0;
}

.numPeopleInput, 
.timeInputHours,  
.timeInputMinutes {
  font-family: inherit;
  background-color: #3B4877;
  text-align: center;
  padding: 0.8em;
  padding-left: 1.7em;
  border-radius: 10px;
  width: 10%;
  border: none;
}

.QuizForm label {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.submit {
  font-family: inherit;
  font-size: 1.4em;
  border-radius: 10px;
  background-color:rgb(172, 80, 0);
  align-self: center;
  width: 50%;
  padding: 1em;
  margin-top: 1em
}