#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000C36;
  border-radius: 0.5em;
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}